a[href] {
  text-underline-offset: -0.1em;
  text-decoration-color: currentColor;
  text-decoration-thickness: var(--gcds-border-width-sm);
}

a[href]:hover {
  color: var(--gcds-hover-default);
  text-underline-offset: -0.1em;
  text-decoration-thickness: var(--gcds-border-width-md);
}

a[href]:focus {
  border-radius: var(--gcds-border-radius-sm);
  background-color: var(--gcds-focus-background);
  color: var(--gcds-focus-text);
  text-decoration: none;
  box-shadow: 0 0 0 var(--gcds-border-width-md) var(--gcds-color-grayscale-0);
  outline-offset: var(--gcds-border-width-md);
  outline: var(--gcds-spacing-50) solid var(--gcds-focus-background);
}

a[href]:not([class*="link-inherit"]):not([class*="link-light"]):not(:focus):not(:hover) {
  color: var(--gcds-link-default);
}

h1 {
  max-width: 32ch;
}

h2 {
  max-width: 37ch;
}

h3 {
  max-width: 42ch;
}

h4 {
  max-width: 46ch;
}

h5 {
  max-width: 53ch;
}

h6 {
  max-width: 60ch;
}

p {
  font: var(--gcds-font-text-long);
  max-width: 65ch;
}

ul li p:last-child,
ol li p:last-child {
  margin-block-end: var(--gcds-spacing-0) !important;
}

/*
 * General
 */
@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

body {
  color: var(--gcds-text-primary);
  animation: fade 0.05s normal forwards ease-in-out;
}

.success-message {
  background: #e2ffea;
  border-inline-start: var(--gcds-error-message-border-width) solid #7af99c;
  color: var(--gcds-error-message-text);
  font: var(--gcds-error-message-font);
  margin: var(--gcds-error-message-margin);
  padding: var(--gcds-error-message-padding);
}

.target_link {
  font-size: 1.5em;
}

.link_container {
  background-color: rgb(245, 241, 241);
  border-color: grey 2px solid;
  padding: 15px;
}