advocate==1.0.0
awscli==1.27.106
awslambdaric==2.0.4
boto3==1.26.99
fastapi==0.95.0
Jinja2==3.1.2
logger==1.4
logzero==1.7.0
mangum==0.17.0
notifications-python-client==8.0.0
pydantic==1.10.7
python-multipart==0.0.6
requests==2.28.2
validators==0.20.0
