name: "Terraform security scan"

on:
  push:
    branches:
      - main
    paths:
      - "terragrunt/**"
      - ".github/workflows/terraform_security_scan.yml"
  pull_request:
    paths:
      - "terragrunt/**"
      - ".github/workflows/terraform_security_scan.yml"

jobs:
  terraform-security-scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3.3.0

      - name: Checkov security scan
        uses: bridgecrewio/checkov-action@v12.1347.0
        with:
          config_file: terragrunt/.checkov.yml
          directory: terragrunt/aws
          framework: terraform
          output_format: cli
          quiet: true
          soft_fail: false
